.github/* @jessebot

demo/artifactory/* @cloudymax
demo/cilium/* @jessebot @cloudymax
demo/diagrams/* @cloudymax
demo/home-assistant/* @jessebot
demo/k8tz/* @cloudymax
demo/kepler/* @jessebot
demo/longhorn/* @cloudymax
demo/netmaker/* @jessebot
demo/oauth2-proxy/* @jessebot
demo/wg-access-server/* @jessebot @cloudymax

argocd/* @jessebot
coturn/* @cloudymax
external-secrets-operator/* @cloudymax @jessebot
harbor/* @cloudymax
ingress/* @cloudymax @jessebot
k8up/* @jessebot
keycloak/* @cloudymax @jessebot
kubevirt/* @cloudymax
kyverno/* @jessebot
mastodon/* @jessebot
metallb/* @cloudymax @jessebot
matrix/* @jessebot
nextcloud/* @jessebot
postgres/* @cloudymax
prometheus/* @cloudymax
test-app/* @cloudymax
vouch-proxy/* @cloudymax @jessebot

renovate.json @jessebot
CONTRIBUTING.md @jessebot @cloudymax
LICENSE @jessebot @cloudymax
README.md @jessebot @cloudymax
