{{- if eq .Values.provider "bitwarden" }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-oidc-credentials
spec:
  target:
    # Name for the secret to be created on the cluster
    name: grafana-oidc-credentials
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        client_id: |-
          {{ `{{ .clientID }}` }}
        client_secret: |-
          {{ `{{ .clientSecret }}` }}

  data:
    # oidc user
    - secretKey: clientID
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: {{ .Values.oidcCredentialsBitwardenID }}
        property: username

    # oidc password
    - secretKey: clientSecret
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: {{ .Values.oidcCredentialsBitwardenID }}
        property: password
{{- end }}
