#---
#apiVersion: argoproj.io/v1alpha1
#kind: Application
#metadata:
#  name: longhorn-helm-chart
#spec:
#  destination:
#    namespace: longhorn-system
#    server: 'https://kubernetes.default.svc'
#  sources:
#  - repoURL: 'https://charts.longhorn.io'
#    targetRevision: 1.5.0
#    chart: longhorn
#    helm:
#      releaseName: longhorn
#      valueFiles:
#     - $values/longhorn/values.yaml
#  - repoURL: 'https://github.com/small-hack/argocd-apps.git'
#    targetRevision: main
#    ref: values
#  project: default
#  syncPolicy:
#    syncOptions:
#      - CreateNamespace=true
#    automated:
#      prune: true
#      selfHeal: true
