# -- timezone you want to use for TZ env var, must be identifier from this list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# example could be "Europe/Amsterdam"
timezone: ""

image:
  # -- docker image repo
  repository: "nextcloud"
  # -- docker image tag
  tag: "30.0.2-fpm-alpine"

maintenance_mode_on:
  # -- cron schedule to turn on maintenance mode for nextcloud
  schedule: ""

maintenance_mode_off:
  # -- cron schedule to turn off maintenance mode for nextcloud
  schedule: ""

# -- affinity to make the cronjobs use a specific node
affinity: {}

# -- tolerations to make the cronjobs tolerate the taints on a specific node
tolerations: []
