{{- if eq .Values.provider "bitwarden" }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: vouch-config
spec:
  target:
    # Name for the secret to be created on the cluster
    name: vouch-config
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        jwtSecret: |-
          {{ `{{ .jwtSecret }}` }}
        domains: |-
          {{ `{{ .domains }}` }}
        allowList: |-
          {{ `{{ .allowList }}` }}
  data:
    # key of this struct to reference in spec.target.template.data
    - secretKey: domains
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        # name of the item in bitwarden
        key: {{ .Values.vouchConfigBitwardenID }}
        # name of the custom field in the bitwarden item
        property: domains

    - secretKey: allowList
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: {{ .Values.vouchConfigBitwardenID }}
        property: allowList

    - secretKey: jwtSecret
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: {{ .Values.vouchConfigBitwardenID }}
        property: jwtSecret
{{- end }}
