# nextcloud-backups-bucket is the name of YOUR b2 bucket
export RESTIC_REPOSITORY="s3:s3.eu-central-003.backblazeb2.com/nextcloud-backups-bucket"

# in this file, you need to have a single line with your restic repo password. Make sure it's `chmod`ed to 600 and has only your user as the group.
export RESTIC_PASSWORD_FILE=/etc/restic-password

export AWS_ACCESS_KEY_ID="012x11f5584568299998888zz"
export AWS_SECRET_ACCESS_KEY="K012eFG6971Sshi/qrSSS897QC1dBfd"
