# nc-bkups is the name of YOUR b2 bucket
export RESTIC_REPOSITORY="b2:nc-bkups"

# in this file, you need to have a single line with your restic repo password. Make sure it's `chmod`ed to 600 and has only your user as the group.
export RESTIC_PASSWORD_FILE=/etc/restic-password

export B2_ACCOUNT_ID="012x11f5584568299998888zz"
export B2_ACCOUNT_KEY="K012eFG6971Sshi/qrSSS897QC1dBfd"
