name: Lint

on:
  workflow_dispatch:
  #pull_request:
  #paths-ignore:
  #  - 'README.md'
  #  - '**/README.md'
  #  - '.github/**'

jobs:
  lint:
    name: Lint YAML
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
        with:
          fetch-depth: "0"

      - uses: ibiqlik/action-yamllint@v3
        with:
          config_data: "{extends: default, rules: {line-length: disable}}"
